html, body {
}

.dubi {
  background: url("../img/dubi_home.png");
  background-size: cover;
  background-position-x: 70%;
}
.wrap {
  margin: 0!important;

}

.card {
  box-shadow: none !important;
  &.description {
    padding-top: 10px;
  }
}
